@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(161.5deg, #1F252E 50%, #fff 50%);
    height: 100vh;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--primary-dark);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    body {
        height: auto;
    }
    form {
        padding: 10px;
    }
}

